.pokemon-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  background: #111;
}

.battle-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 600;
}

.battle-item {
  display: flex;
  padding: .15rem .1rem;
  flex: 1;
  align-items: center;
}

.battle-item img {
  width: 1.2rem;
  height: 1.2rem;
}

.battle-item .battle-hp-wrapper {
  position: relative;
  flex: 1;
  height: .4rem;
  border: .04rem solid #ffffff;
  border-radius: .2rem;
  background-color: #bbbbbb;
  overflow: hidden;
}

.battle-item .battle-hp-bar {
  height: .4rem;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #f91111;
  transition: all .3s ease;
}

.battle-item .battle-hp-bar.battle-hp-l {
  left: 0;
}

.battle-item .battle-hp-bar.battle-hp-r {
  right: 0;
}

.battle-item .battle-hp-text {
  position: absolute;
  top: -.04rem;
  left: 0;
  right: 0;
  font-size: .24rem;
  line-height: .4rem;
  color: #ffffff;
  text-align: center;
}

.operation-wrapper {
  width: 100%;
  padding: .3rem .4rem;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 600;
}

.energy-icon {
  display: block;
  width: .6rem;
  height: .6rem;
  margin: .1rem auto;
}

.energy-bar {
  position: relative;
  width: 100%;
  height: .6rem;
  margin-bottom: .4rem;
  border: .04rem solid #ffffff;
  border-radius: .3rem;
  background: linear-gradient(0.25turn, #9ED110, #FF5800, #FFCC00);
  overflow: hidden;
}

.energy-bar:after {
  content: '';
  width: .04rem;
  height: .6rem;
  position: absolute;
  left: 50%;
  background-color: #ffffff;
  transform: translateX(-.02rem);
}

.energy-inner-bar {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bbbbbb;
  transition: all .1s ease;
}

.energy-btn {
  display: block;
  font-size: .36rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff4200;
  cursor: pointer;
  border: none;
  width: 100%;
  height: .9rem;
  background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
  border-radius: .45rem;
  box-shadow: 0 2px 4px #f7c7b1;
}

.energy-btn:active {
  opacity: .8;
}
