.camera-wrapper {
  position: relative;
  overflow: hidden;
}

.camera-control {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 .6rem;
  bottom: .6rem;
}

.explore-btn {
  width: 1.4rem;
  height: 1.4rem;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  background: url('./images/pokeball.png') no-repeat;
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
